<section class="about-us-standarts" aria-labelledby="about-us-standarts-title">
  <div class="about-us-standarts__head">
    <div class="about-us-standarts__intro">
      <h2 class="about-us-standarts__title" id="about-us-standarts-title">Соответствуем требованиям и стандартам</h2>
      <p class="about-us-standarts__description">
        Мы изготавливаем изделия по чертежам, проектной документации<br>
        и отраслевым стандартам. В рамках одного проекта может<br>
        потребоваться большое количество различных элементов —<br>
        от типовых до нестандартных.
      </p>
    </div>
    <div class="about-us-standarts__action">
      <a class="button button--primary" href="#contacts">Отправить чертеж на расчет</a>
    </div>
  </div>
  <ul class="about-us-standarts__grid">
    <li class="about-us-standarts__item">
      <img class="about-us-standarts__image" src="images/standarts-doc.png" alt="Сертификат соответствия">
      <p class="about-us-standarts__caption">Подпись сертификата/<br>документа</p>
    </li>
    <li class="about-us-standarts__item">
      <img class="about-us-standarts__image" src="images/standarts-doc.png" alt="Сертификат соответствия">
      <p class="about-us-standarts__caption">Подпись сертификата/<br>документа</p>
    </li>
    <li class="about-us-standarts__item">
      <img class="about-us-standarts__image" src="images/standarts-doc.png" alt="Сертификат соответствия">
      <p class="about-us-standarts__caption">Подпись сертификата/<br>документа</p>
    </li>
    <li class="about-us-standarts__item">
      <img class="about-us-standarts__image" src="images/standarts-doc.png" alt="Сертификат соответствия">
      <p class="about-us-standarts__caption">Подпись сертификата/<br>документа</p>
    </li>
  </ul>
</section>
