<section class="about-us-directions" aria-labelledby="about-us-directions-title">
    <div class="about-us-directions__head">
        <div class="about-us-directions__intro">
            <h2 class="about-us-directions__title" id="about-us-directions-title">Основные направления производства</h2>
            <p class="about-us-directions__description">
                Мы изготавливаем изделия по чертежам, проектной документации<br>
                и отраслевым стандартам. В рамках одного проекта может<br>
                потребоваться большое количество различных элементов —<br>
                от типовых до нестандартных.
            </p>
        </div>
        <div class="about-us-directions__action">
            <a class="button button--primary" href="index.html#catalog">Перейти в каталог</a>
        </div>
    </div>

    <div class="about-us-directions__slider swiper">
        <div class="catalog__grid swiper-wrapper">
            <div data-repeat-component="components/catalog/card-slider.html"
            data-repeat-data="components/catalog/data.json"
            ></div>
        </div>
    </div>
</section>