<section class="trusted-partner" aria-labelledby="trusted-partner-title">
  <div class="trusted-partner__info">
    <h2 class="trusted-partner__title" id="trusted-partner-title">Ваш надежный партнер</h2>
    <p class="trusted-partner__note">Понимаем специфику судостроительных проектов<br>и учитываем требования к срокам, стоимости<br>и документации</p>
  </div>
  <ol class="trusted-partner__list">
    <li class="trusted-partner__item">
      <span class="trusted-partner__number">[1]</span>
      <h3 class="trusted-partner__item-title">Конкурентная стоимость</h3>
      <p class="trusted-partner__text">Подбираем оптимальные решения за счет<br>гибкой производственной модели и кооперации</p>
    </li>
    <li class="trusted-partner__item">
      <span class="trusted-partner__number">[2]</span>
      <h3 class="trusted-partner__item-title">Соблюдение сроков</h3>
      <p class="trusted-partner__text">Планируем производство и поставки с учетом<br>этапов проекта и графиков заказчика</p>
    </li>
    <li class="trusted-partner__item">
      <span class="trusted-partner__number">[3]</span>
      <h3 class="trusted-partner__item-title">Гибкие условия оплаты</h3>
      <p class="trusted-partner__text">Возможна частичная оплата и согласование<br>условий под конкретный проект</p>
    </li>
    <li class="trusted-partner__item">
      <span class="trusted-partner__number">[4]</span>
      <h3 class="trusted-partner__item-title">Работа с нестандартными задачами</h3>
      <p class="trusted-partner__text">Изготавливаем изделия по различным чертежам,<br>стандартам и проектной документации</p>
    </li>
    <li class="trusted-partner__item">
      <span class="trusted-partner__number">[5]</span>
      <h3 class="trusted-partner__item-title">Опыт в отрасли</h3>
      <p class="trusted-partner__text">Более 20 лет работы в промышленном B2B<br>и судостроении</p>
    </li>
    <li class="trusted-partner__item">
      <span class="trusted-partner__number">[6]</span>
      <h3 class="trusted-partner__item-title">Инженерный подход</h3>
      <p class="trusted-partner__text">Помогаем оптимизировать решения<br>и корректировать проектные ошибки</p>
    </li>
  </ol>
</section>
