<section class="about-us-second" aria-labelledby="about-us-second">
  <div class="about-us-second__text">
    <div class="about-us-second__left">
      <h2 class="about-us-second__title" id="about-us-second-title">О компании</h2>
      <p class="about-us-second__description">
        Наша команда объединяет специалистов с более чем 20-летним опытом работы в промышленной B2B-сфере, включая судостроение, судоремонт и производство инженерных изделий.
        </p>
        <p class="about-us-second__description">
        Сегодня наша компания развивается как инжиниринговый партнер, специализирующийся на производстве изделий<br>по чертежам, проектной документации и отраслевым стандартам.
        </p>
        <p class="about-us-second__description">
        В своей работе мы опираемся на межзаводскую кооперацию<br>и развитую сеть производственных партнеров. Это позволяет нам подбирать оптимальные решения для каждой задачи с учетом сроков, стоимости и технологических особенностей производства.
        </p>
        <p class="about-us-second__description">
        Реализуем проекты различной сложности — от типовых изделий до нестандартных решений. Помогаем оптимизировать проектные решения и сопровождаем заказ на всех этапах: от первичного запроса и расчета до производства и поставки готовой продукции.
        <br>
        Мы готовы рассмотреть ваш запрос и предложить эффективное решение.
      </p>
    </div>
    <div class="about-us-second__right">
      <img src="/images/ship.png" alt="">
    </div>
  </div>
</section>
