<section class="about-us" aria-labelledby="about-us-title">
  <div class="about-us__top">
    <div class="about-us__intro">
      <nav class="breadcrumbs" aria-label="Хлебные крошки">
        <a href="/">Главная</a><span>/</span><span>О компании</span>
      </nav>
      <h1 class="about-us__title" id="about-us-title">Производим изделия по чертежам<br>для судостроения и промышленности</h1>
      <p class="about-us__description">Опираемся на более чем 20-летний опыт в промышленном B2B-производстве</p>
    </div>
    <ul class="about-us__features">
      <li>Работаем по чертежам, ОСТи проектной<br>документации</li>
      <li>Беремся за сложные, нестандартные<br>и мелкосерийные изделия</li>
      <li>Сопровождаем заказ от запросаи расчета<br>до производства и поставки</li>
    </ul>
  </div>
  <div class="about-us__visual">
    <img class="about-us__image" src="images/about_us.png" alt="Судостроение и промышленное производство">
  </div>
  <div class="about-us__bottom">
    <div class="about-us__action">
      <a class="button button--primary" href="#contacts">Отправить чертеж на расчет</a>
    </div>
    <p class="about-us__hint">Можно направить чертеж, спецификацию, обозначение изделия или краткое ТЗ</p>
  </div>
</section>
