<section class="catalog-element">
  <aside class="catalog-element__sidebar">
    <ul class="catalog-element__nav">
      <li class="catalog-element__nav-item"><a href="#" class="catalog-element__nav-link">Кабельные лотки</a></li>
      <li class="catalog-element__nav-item catalog-element__nav-item--active"><a href="#" class="catalog-element__nav-link">Кабельные лотки лестничного типа</a></li>
      <li class="catalog-element__nav-item"><a href="#" class="catalog-element__nav-link">Заливные кабельные проходки</a></li>
      <li class="catalog-element__nav-item"><a href="#" class="catalog-element__nav-link">Кабельные мосты, лапки, стойки, фундамента, кницы</a></li>
      <li class="catalog-element__nav-item"><a href="#" class="catalog-element__nav-link">Кабельные и трубные подвески</a></li>
      <li class="catalog-element__nav-item"><a href="#" class="catalog-element__nav-link">Перемычки, планки, шпильки и бонки заземления</a></li>
      <li class="catalog-element__nav-item"><a href="#" class="catalog-element__nav-link">Ленты, скрепы и стяжки fortisflex</a></li>
      <li class="catalog-element__nav-item"><a href="#" class="catalog-element__nav-link">Прочие элементы, применяемые в судостроении и судоремонте</a></li>
    </ul>

    <div class="catalog-element__banner">
      <h3 class="catalog-element__banner-title">НЕ НАШЛИ ТО,<br>ЧТО ИСКАЛИ?</h3>
      <p class="catalog-element__banner-text">Пришлите свой чертеж или вопрос</p>
      <a href="#contacts" class="button button--primary catalog-element__banner-button">Отправить запрос</a>
    </div>
  </aside>

  <div class="catalog-element__content">
    <h1 class="catalog-element__title">КАБЕЛЬНЫЕ ЛОТКИ ЛЕСТНИЧНОГО ТИПА А</h1>

    <div class="catalog-element__hero">
      <div class="catalog-element__image-wrapper">
        <img src="images/catalog-element.png" alt="Кабельные лотки лестничного типа А" class="catalog-element__image">
      </div>
      <div class="catalog-element__description">
        <p>Оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст оптимизированный seo текст</p>
      </div>
    </div>

    <div class="catalog-element__table-wrapper">
      <table class="catalog-element__table">
        <thead>
          <tr>
            <th>ОБОЗНАЧЕНИЕ</th>
            <th>ТИП</th>
            <th>L, ММ</th>
            <th>МАТЕРИАЛ ДЕТАЛЕЙ</th>
            <th>ПОКРЫТИЕ ДЕТАЛЕЙ</th>
            <th>МАССА, КГ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ЮТСМ363619001<br>ЮТСМ363619001-01<br>ЮТСМ363619001-02<br>ЮТСМ363619001-03</td>
            <td>ЛЛТ-100-СТ<br>ЛЛТ-100-СТ-Ц<br>ЛЛТ-100-СТ-Н<br>ЛЛТ-100-А</td>
            <td>100</td>
            <td>Ст3<br>Ст08пс<br>03Х17Н14М2<br>АМг5</td>
            <td>Грунт<br>ГорЦ100<br>-<br>-</td>
            <td>4,35<br>4,62<br>4,39<br>1,53</td>
          </tr>
          <tr>
            <td>ЮТСМ363619001-04<br>ЮТСМ363619001-05<br>ЮТСМ363619001-06<br>ЮТСМ363619001-07</td>
            <td>ЛЛТ-150-СТ<br>ЛЛТ-150-СТ-Ц<br>ЛЛТ-150-СТ-Н<br>ЛЛТ-150-А</td>
            <td>150</td>
            <td>Ст3<br>Ст08пс<br>03Х17Н14М2<br>АМг5</td>
            <td>Грунт<br>ГорЦ100<br>-<br>-</td>
            <td>4,77<br>5,11<br>4,82<br>1,60</td>
          </tr>
          <tr>
            <td>ЮТСМ363619001-08<br>ЮТСМ363619001-09<br>ЮТСМ363619001-10<br>ЮТСМ363619001-11</td>
            <td>ЛЛТ-200-СТ<br>ЛЛТ-200-СТ-Ц<br>ЛЛТ-200-СТ-Н<br>ЛЛТ-200-А</td>
            <td>200</td>
            <td>Ст3<br>Ст08пс<br>03Х17Н14М2<br>АМг5</td>
            <td>Грунт<br>ГорЦ100<br>-<br>-</td>
            <td>5,12<br>5,53<br>5,17<br>1,74</td>
          </tr>
          <tr>
            <td>ЮТСМ363619001-12<br>ЮТСМ363619001-13<br>ЮТСМ363619001-14<br>ЮТСМ363619001-15</td>
            <td>ЛЛТ-250-СТ<br>ЛЛТ-250-СТ-Ц<br>ЛЛТ-250-СТ-Н<br>ЛЛТ-250-А</td>
            <td>250</td>
            <td>Ст3<br>Ст08пс<br>03Х17Н14М2<br>АМг5</td>
            <td>Грунт<br>ГорЦ100<br>-<br>-</td>
            <td>5,47<br>5,95<br>5,52<br>1,88</td>
          </tr>
          <tr>
            <td>ЮТСМ363619001-16<br>ЮТСМ363619001-17<br>ЮТСМ363619001-18<br>ЮТСМ363619001-19</td>
            <td>ЛЛТ-300-СТ<br>ЛЛТ-300-СТ-Ц<br>ЛЛТ-300-СТ-Н<br>ЛЛТ-300-А</td>
            <td>300</td>
            <td>Ст3<br>Ст08пс<br>03Х17Н14М2<br>АМг5</td>
            <td>Грунт<br>ГорЦ100<br>-<br>-</td>
            <td>5,47<br>5,95<br>5,52<br>1,88</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
