<section class="contacts" aria-labelledby="contacts-title">
  <div class="contacts__map" aria-label="Карта офиса">
    <iframe
      src="https://yandex.ru/map-widget/v1/?ll=30.456512%2C59.864028&amp;pt=30.456512%2C59.864028%2Cpm2rdm&amp;z=17&amp;text=192289%2C%20%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%2C%20%D0%93%D0%B0%D1%80%D0%B0%D0%B6%D0%BD%D1%8B%D0%B9%20%D0%BF%D1%80%D0%BE%D0%B5%D0%B7%D0%B4%2C%201"
      title="Офис на карте" loading="lazy" referrerpolicy="no-referrer-when-downgrade" allowfullscreen>
    </iframe>
  </div>
  <div class="contacts__info">
    <nav class="breadcrumbs" aria-label="Хлебные крошки">
      <a href="/index.html">Главная</a><span>/</span><span>Контакты</span>
    </nav>
    <h1 class="contacts__title" id="contacts-title">Контакты</h1>
    <p class="contacts__description">Свяжитесь с нами для обсуждения проекта<br>или направьте чертеж на расчет</p>
    <div class="contacts__channels">
      <a class="contacts__channel contacts__channel--phone" href="tel:+79217400986">+7 (921) 740-09-86</a>
      <a class="contacts__channel contacts__channel--email" href="mailto:info@ec-systems.ru">info@ec-systems.ru</a>
    </div>
    <div class="contacts__office">
      <h2 class="contacts__office-title">Офис</h2>
      <p class="contacts__address">
        <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 9.5C6.33696 9.5 5.70107 9.23661 5.23223 8.76777C4.76339 8.29893 4.5 7.66304 4.5 7C4.5 6.33696 4.76339 5.70107 5.23223 5.23223C5.70107 4.76339 6.33696 4.5 7 4.5C7.66304 4.5 8.29893 4.76339 8.76777 5.23223C9.23661 5.70107 9.5 6.33696 9.5 7C9.5 7.3283 9.43534 7.65339 9.3097 7.95671C9.18406 8.26002 8.99991 8.53562 8.76777 8.76777C8.53562 8.99991 8.26002 9.18406 7.95671 9.3097C7.65339 9.43534 7.3283 9.5 7 9.5ZM7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 12.25 7 20 7 20C7 20 14 12.25 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0Z" fill="black" fill-opacity="0.5"/>
        </svg>
        <span>192289, Санкт-Петербург Гаражный проезд, дом 1 литера А,<br>помещение 11-н, офис 310</span>
      </p>
      <p class="contacts__metro">
        <img src="/images/train.svg" alt="">
        <span>м. Обухово</span>
      </p>
    </div>
    <div class="contacts__action">
      <a class="button button--primary" href="tel:+79217400986">Заказать обратный звонок</a>
    </div>
  </div>
</section>