<section class="advantages" aria-labelledby="advantages-title">
      <div class="advantages__heading">
        <h2 class="advantages__title" id="advantages-title">Надежный партнер вашего проекта</h2>
        <p class="advantages__subtitle">От первого заказа к долголетнему сотрудничеству</p>
      </div>
      <div class="advantages__visual">
        <img class="advantages__image" src="images/advantages.png" alt="Судно на производственной верфи">
        <a class="button button--primary advantages__button" href="tel:+79217400986">Заказать обратный звонок</a>
      </div>
      <ol class="advantages__list">
        <li class="advantages__item"><span class="advantages__number">[1]</span><div><h3 class="advantages__item-title">Планируем загрузку мощностей</h3><p class="advantages__text">За счет межзаводской кооперации и отсутствия<br>лишних надстроек в производстве</p></div></li>
        <li class="advantages__item"><span class="advantages__number">[2]</span><div><h3 class="advantages__item-title">Даем цены ниже крупных заводов</h3><p class="advantages__text">За счет межзаводской кооперации и отсутствия<br>лишних надстроек в производстве</p></div></li>
        <li class="advantages__item"><span class="advantages__number">[3]</span><div><h3 class="advantages__item-title">Подбираем удобный формат расчета</h3><p class="advantages__text">Рассматриваем рассрочку, отсрочку<br>и поэтапную оплату для постоянных партнеров</p></div></li>
        <li class="advantages__item"><span class="advantages__number">[4]</span><div><h3 class="advantages__item-title">Оптимизируем проект</h3><p class="advantages__text">Анализируем ваш заказ и можем дать<br>рекомендацию по оптимизации заявки</p></div></li>
        <li class="advantages__item"><span class="advantages__number">[5]</span><div><h3 class="advantages__item-title">Работаем строго по отраслевым стандартам</h3><p class="advantages__text">ОСТ, альбомы, чертежи верфей</p></div></li>
      </ol>
    </section>
