<section class="catalog" id="catalog" aria-labelledby="catalog-title">
      <h2 class="catalog__title" id="catalog-title">Производим оперативно и строго по ТЗ</h2>
      <p class="catalog__subtitle">Выберите изделие в каталоге или найдите деталь по номеру чертежа</p>

      <div class="catalog__grid">
        <article class="product-card">
          <a class="product-card__link" href="#"><div class="product-card__picture"><img class="product-card__image" src="images/products/lks 6.png" alt="Кабельные лотки"></div><div class="product-card__footer"><h3 class="product-card__title">Кабельные<br>лотки</h3><span class="product-card__arrow" aria-hidden="true">↗</span></div></a>
        </article>
        <article class="product-card">
          <a class="product-card__link" href="#"><div class="product-card__picture"><img class="product-card__image" src="images/products/4D5A6954-4 1.png" alt="Кабельные лотки лестничного типа"></div><div class="product-card__footer"><h3 class="product-card__title">Кабельные лотки<br>лестничного типа</h3><span class="product-card__arrow" aria-hidden="true">↗</span></div></a>
        </article>
        <article class="product-card product-card--accent">
          <a class="product-card__link" href="#"><div class="product-card__picture"><img class="product-card__image" src="images/products/6c838c5e-85a3-4d99-acae-8d252e0f2f45-2 1.png" alt="Заливные кабельные проходки"></div><div class="product-card__footer"><h3 class="product-card__title">Заливные<br>кабельные проходки</h3><span class="product-card__arrow" aria-hidden="true">↗</span></div></a>
        </article>
        <article class="product-card">
          <a class="product-card__link" href="#"><div class="product-card__picture"><img class="product-card__image" src="images/products/nzy0k0eehxdq0r7t7wp9sm3pfwz0lr2b 9.png" alt="Кабельные мосты, лотки, стойки, фундаменты, кницы"></div><div class="product-card__footer"><h3 class="product-card__title">Кабельные мосты,<br>лотки, стойки,<br>фундаменты, кницы</h3><span class="product-card__arrow" aria-hidden="true">↗</span></div></a>
        </article>
        <article class="product-card">
          <a class="product-card__link" href="#"><div class="product-card__picture"><img class="product-card__image" src="images/products/63c65c34-0143-11ea-91d8-0050560111bc.1695892300.jpg.420x420f 2 8.png" alt="Кабельные и трубные подвески"></div><div class="product-card__footer"><h3 class="product-card__title">Кабельные<br>и трубные подвески</h3><span class="product-card__arrow" aria-hidden="true">↗</span></div></a>
        </article>
        <article class="product-card">
          <a class="product-card__link" href="#"><div class="product-card__picture"><img class="product-card__image" src="images/products/prohodki_312 1 6-Photoroom 1.png" alt="Перемычки, планки, шпильки и бонки заземления"></div><div class="product-card__footer"><h3 class="product-card__title">Перемычки, планки,<br>шпильки и бонки<br>заземления</h3><span class="product-card__arrow" aria-hidden="true">↗</span></div></a>
        </article>
        <article class="product-card">
          <a class="product-card__link" href="#"><div class="product-card__picture"><img class="product-card__image" src="images/products/i8eej53br7zh8u7243mt1wl2r1dnqv23 4.png" alt="Ленты, скрепы и стяжки Fortisflex"></div><div class="product-card__footer"><h3 class="product-card__title">Ленты, скрепы<br>и стяжки Fortisflex</h3><span class="product-card__arrow" aria-hidden="true">↗</span></div></a>
        </article>
        <article class="product-card">
          <a class="product-card__link" href="#"><div class="product-card__picture"><img class="product-card__image" src="images/products/6c838c5e-85a3-4d99-acae-8d252e0f2f45-2 1-1.png" alt="Прочие элементы, применяемые в судостроении и судоремонте"></div><div class="product-card__footer"><h3 class="product-card__title">Прочие элементы,<br>применяемые<br>в судостроении<br>и судоремонте</h3><span class="product-card__arrow" aria-hidden="true">↗</span></div></a>
        </article>
      </div>
    </section>
