<section class="partners" aria-labelledby="partners-title">
      <div class="partners__heading">
        <h2 class="partners__title" id="partners-title">Нам доверяют</h2>
      </div>
      <div class="partners__slider swiper" aria-label="Наши партнеры">
        <ul class="partners__list swiper-wrapper">
          <li class="partners__item swiper-slide"><img class="partners__logo partners__logo--gazprom" src="images/partners/Frame_7 1.png" alt="Газпром"></li>
          <li class="partners__item swiper-slide"><img class="partners__logo partners__logo--tbank" src="images/partners/т 1.png" alt="Т-Банк"></li>
          <li class="partners__item swiper-slide"><img class="partners__logo partners__logo--megafon" src="images/partners/megafon 1.png" alt="МегаФон"></li>
          <li class="partners__item swiper-slide"><img class="partners__logo partners__logo--rosa" src="images/partners/rosa.png" alt="Роза Хутор"></li>
          <li class="partners__item swiper-slide"><img class="partners__logo partners__logo--gazprom" src="images/partners/Frame_7 1.png" alt="Газпром"></li>
          <li class="partners__item swiper-slide"><img class="partners__logo partners__logo--tbank" src="images/partners/т 1.png" alt="Т-Банк"></li>
          <li class="partners__item swiper-slide"><img class="partners__logo partners__logo--megafon" src="images/partners/megafon 1.png" alt="МегаФон"></li>
          <li class="partners__item swiper-slide"><img class="partners__logo partners__logo--rosa" src="images/partners/rosa.png" alt="Роза Хутор"></li>
        </ul>
      </div>
    </section>
