<section class="primary" aria-labelledby="primary-title">
      <div class="primary__intro">
        <h1 class="primary__title" id="primary-title">Производство изделий<br>электрослесарного<br> насыщения<br>для судостроения<br>и судоремонта</h1>
        <p class="primary__description">20-летний опыт в отраслях судостроения,<br>судоремонта и машиностроения</p>
      </div>
      <div class="primary__visual">
        <img class="primary__image" src="images/main.png" alt="Проектирование и строительство судна">
      </div>
      <div class="primary__action">
        <a class="button button--primary" href="#contacts">Быстрый расчет стоимости</a>
      </div>
      <div class="primary__feature">
        <div class="swiper primary__feature-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">Комплексное инженерное сопровождение проекта</div>
            <div class="swiper-slide">Точные сроки выполнения работ</div>
            <div class="swiper-slide">Производство по чертежам заказчика, а также по собственным разработкам</div>
          </div>
        </div>
        <button class="primary__feature-arrow" type="button" aria-label="Следующий слайд">›</button>
      </div>
    </section>
