<section class="primary" aria-labelledby="primary-title">
      <div class="primary__intro">
        <h1 class="primary__title" id="primary-title">Производство изделий<br>электрослесарного<br> насыщения<br>для судостроения<br>и судоремонта</h1>
        <p class="primary__description">20-летний опыт в отраслях судостроения,<br>судоремонта и машиностроения</p>
      </div>
      <div class="primary__visual">
        <img class="primary__image" src="images/main.png" alt="Проектирование и строительство судна">
      </div>
      <div class="primary__action">
        <a class="button button--primary" href="#contacts">Быстрый расчет стоимости</a>
      </div>
      <a class="primary__feature" href="#services">
        <span>Комплексное инженерное сопровождение проекта</span>
        <span class="primary__feature-arrow" aria-hidden="true">›</span>
      </a>
    </section>
