<section class="additional-ops" aria-labelledby="additional-ops-title">
      <div class="additional-ops__intro">
        <h2 class="additional-ops__title" id="additional-ops-title">Дополнительные<br>технологические<br>операции</h2>
        <p class="additional-ops__lead">Выполняем как часть проекта<br>или как отдельную услугу</p>
      </div>
      <div class="additional-ops__grid">
        <article class="operation">
          <img class="operation__icon" src="images/additional_ops/Vector-1.svg" alt="">
          <div class="operation__content"><h3 class="operation__title">Резка металла</h3><p class="operation__text">Быстрая и точная подготовка<br>заготовок под дальнейшее<br>производство, минимизирующая<br>количество отходов материала</p></div>
        </article>
        <article class="operation">
          <img class="operation__icon" src="images/additional_ops/Vector-3.svg" alt="">
          <div class="operation__content"><h3 class="operation__title">Антикоррозийная защита</h3><p class="operation__text">Обеспечиваем долговечность<br>изделий в агрессивных средах.<br>Строго соблюдаем требования РКЦ<br>в части защитных покрытий</p></div>
        </article>
        <article class="operation">
          <img class="operation__icon" src="images/additional_ops/Vector-2.svg" alt="">
          <div class="operation__content"><h3 class="operation__title">Эрозионная резка</h3><p class="operation__text">Применяется для изготовления<br>деталей сложной формы с высокой<br>точностью (до микрона), где<br>критически важна чистота<br>поверхности</p></div>
        </article>
        <article class="operation">
          <img class="operation__icon" src="images/additional_ops/Vector-1.svg" alt="">
          <div class="operation__content"><h3 class="operation__title">Сварочное производство</h3><p class="operation__text">Выполняем сварку изделий из стали<br>и цветных металлов. Все сварочные<br>процессы аттестованы</p></div>
        </article>
        <article class="operation">
          <img class="operation__icon" src="images/additional_ops/Vector-3.svg" alt="">
          <div class="operation__content"><h3 class="operation__title">Координатно-пробивная<br>штамповка</h3><p class="operation__text">Высокопроизводительное<br>изготовление серийных деталей<br>с отверстиями, перфорацией<br>и повторяющимися элементами<br>в строгом соответствии с чертежом</p></div>
        </article>
        <article class="operation">
          <img class="operation__icon" src="images/additional_ops/Vector-2.svg" alt="">
          <div class="operation__content"><h3 class="operation__title">Гибка листового металла</h3><p class="operation__text">Придаем заготовкам нужную<br>конфигурацию на современном<br>оборудовании, обеспечивая<br>точность углов и сохранение<br>прочностных характеристик<br>металла</p></div>
        </article>
        <a class="button button--primary additional-ops__button additional-ops__button--drawing" href="mailto:info@ec-systems.ru">Отправить чертеж</a>
        <a class="button button--primary additional-ops__button" href="tel:+79217400986">Заказать обратный звонок</a>
      </div>
    </section>
