<section class="docs" aria-label="Документы и стандарты">
      <div class="docs__tabs" role="tablist" aria-label="Категории документов">
        <button class="docs__tab docs__tab--active" data-image="doc-1.png" type="button" role="tab" aria-selected="true" data-caption="Подпись сертификата/документа">Работа по ОСТ</button>
        <button class="docs__tab" data-image="doc-2.png"  type="button" role="tab" aria-selected="false" data-caption="Постановление № 719 Минпромторга">Альбомы разных<br>разработчиков</button>
        <button class="docs__tab" data-image="doc-1.png"  type="button" role="tab" aria-selected="false" data-caption="Подпись сертификата/документа">Собственные чертежи</button>
        <button class="docs__tab" data-image="doc-2.png"  type="button" role="tab" aria-selected="false" data-caption="Постановление № 719 Минпромторга">Соответствие РКД</button>
      </div>
      <div class="docs__viewer" role="tabpanel">
        <div class="docs__document">
          <img class="docs__image" src="images/docs/doc-1.png" alt="Постановление Министерства промышленности и торговли Российской Федерации">
        </div>
        <p class="docs__caption">Постановление № 719 Минпромторга</p>
      </div>
    </section>
