<section class="stages" aria-labelledby="stages-title">
      <h2 class="stages__title" id="stages-title">Поэтапное производство и отлаженная логистика</h2>
      <!-- Swiper slider for stages -->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="stage-card">
              <div class="stage-card__visual"><img class="stage-card__image" src="images/stages/slides1.png" alt="Получение и обработка запроса"></div>
              <div class="stage-card__info"><span class="stage-card__number">01</span><h3 class="stage-card__title">Получаем ваш запрос</h3></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="stage-card">
              <div class="stage-card__visual"><img class="stage-card__image" src="images/stages/slides2.png" alt="Анализ потребностей проекта"></div>
              <div class="stage-card__info"><span class="stage-card__number">02</span><h3 class="stage-card__title">Анализируем<br>потребности</h3></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="stage-card">
              <div class="stage-card__visual"><img class="stage-card__image" src="images/stages/slides3.png" alt="Проверка технических параметров"></div>
              <div class="stage-card__info"><span class="stage-card__number">03</span><h3 class="stage-card__title">Уточняем технические<br>параметры</h3></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="stage-card">
              <div class="stage-card__visual"><img class="stage-card__image" src="images/stages/slides4.png" alt="Оптимизация производственного решения"></div>
              <div class="stage-card__info"><span class="stage-card__number">04</span><h3 class="stage-card__title">Оптимизируем решения</h3></div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="stage-card">
              <div class="stage-card__visual"><img class="stage-card__image" src="images/stages/slides5.png" alt="Получение и обработка запроса"></div>
              <div class="stage-card__info"><span class="stage-card__number">05</span><h3 class="stage-card__title">Оформляем коммерческое предложение</h3></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="stage-card">
              <div class="stage-card__visual"><img class="stage-card__image" src="images/stages/slides6.png" alt="Анализ потребностей проекта"></div>
              <div class="stage-card__info"><span class="stage-card__number">06</span><h3 class="stage-card__title">Выставляем счет</h3></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="stage-card">
              <div class="stage-card__visual"><img class="stage-card__image" src="images/stages/slides7.png" alt="Проверка технических параметров"></div>
              <div class="stage-card__info"><span class="stage-card__number">07</span><h3 class="stage-card__title">Подписываем договор</h3></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="stage-card">
              <div class="stage-card__visual"><img class="stage-card__image" src="images/stages/slides8.png" alt="Оптимизация производственного решения"></div>
              <div class="stage-card__info"><span class="stage-card__number">08</span><h3 class="stage-card__title">Запускаем производство, проект </h3></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="stage-card">
              <div class="stage-card__visual"><img class="stage-card__image" src="images/stages/slides9.png" alt="Оптимизация производственного решения"></div>
              <div class="stage-card__info"><span class="stage-card__number">09</span><h3 class="stage-card__title">Поставляем изделия, сдаем проект</h3></div>
            </div>
          </div>

        </div>
        <!-- <div class="swiper-button-prev"></div> -->
        <div class="swiper-button-next">
          <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.353516 0.353516L8.85352 8.85352L0.353516 17.3535" stroke="#D2D2D2"/>
          </svg>
        </div>
        <!-- <div class="swiper-pagination"></div> -->
      </div>
      <div class="stages__actions">
        <a class="button button--primary stages__button" href="mailto:info@ec-systems.ru">Отправить чертеж</a>
        <a class="button button--primary stages__button" href="tel:+79217400986">Заказать обратный звонок</a>
      </div>
    </section>
