<section class="solutions" id="blog" aria-labelledby="solutions-title">
      <div class="solutions__intro">
        <h2 class="solutions__title" id="solutions-title">Создаем готовые решения<br>для инженеров</h2>
        <p class="solutions__subtitle">Читайте наши технические статьи и кейсы</p>
      </div>
      <div class="solutions__visual">
        <img class="solutions__image" src="images/solutions.png" alt="Проект инженерного судна">
      </div>
      <div class="solutions__articles">
        <article class="solution-card">
          <h3 class="solution-card__title">Название статьи</h3>
          <p class="solution-card__text">В этой статье рассказываем о том, как мы<br>подготовили проект для известной корпорации</p>
          <a class="solution-card__link" href="#">Читать статью</a>
        </article>
        <article class="solution-card">
          <h3 class="solution-card__title">Название статьи</h3>
          <p class="solution-card__text">В этой статье рассказываем о том, как мы<br>подготовили проект для известной корпорации</p>
          <a class="solution-card__link" href="#">Читать статью</a>
        </article>
        <article class="solution-card">
          <h3 class="solution-card__title">Название статьи</h3>
          <p class="solution-card__text">В этой статье рассказываем о том, как мы<br>подготовили проект для известной корпорации</p>
          <a class="solution-card__link" href="#">Читать статью</a>
        </article>
      </div>
    </section>
