<section class="services-benefits" aria-label="Преимущества">
      <div class="services-benefit"><img src="images/layers.svg" alt=""><p>Берем в работу изделия по чертежам<br>и обозначениям разных стандартов</p></div>
      <div class="services-benefit"><img src="images/gear.svg" alt=""><p>Упрощаем поиск и производство нестандартных<br>деталей</p></div>
      <div class="services-benefit"><img src="images/clock.svg" alt=""><p>Сокращаем сроки и упрощаем<br>взаимодействие по проекту</p></div>
    </section>
