<section class="why-choose-us" aria-labelledby="why-choose-us-title">
      <div class="why-choose-us__intro">
        <h2 class="why-choose-us__title" id="why-choose-us-title">Почему с нами<br>работают</h2>
        <p class="why-choose-us__lead">Понимаем специфику<br>судостроительных проектов<br>и учитываем требования<br>к срокам, стоимости<br>и документации</p>
      </div>
      <div class="why-choose-us__grid">
        <article class="why-choose-us__item">
          <img src="images/why-choose-us-icons/Vector.svg" alt="">
          <div><h3>Конкурентная стоимость</h3><p>Подбираем оптимальные решения<br>за счет гибкой производственной<br>модели и кооперации</p></div>
        </article>
        <article class="why-choose-us__item">
          <img src="images/why-choose-us-icons/Vector-2.svg" alt="">
          <div><h3>Работа с нестандартными<br>задачами</h3><p>Изготавливаем изделия<br>по различным чертежам,<br>стандартам и проектной<br>документации</p></div>
        </article>
        <article class="why-choose-us__item">
          <img src="images/why-choose-us-icons/Group.svg" alt="">
          <div><h3>Соблюдение сроков</h3><p>Планируем производство и поставки<br>с учетом этапов проекта и графиков<br>заказчика</p></div>
        </article>
        <article class="why-choose-us__item">
          <img src="images/why-choose-us-icons/Group (1).svg" alt="">
          <div><h3>Опыт в отрасли</h3><p>Более 20 лет работы<br>в промышленном B2B<br>и судостроении</p></div>
        </article>
        <article class="why-choose-us__item">
          <img src="images/why-choose-us-icons/Vector 19.svg" alt="">
          <div><h3>Гибкие условия оплаты</h3><p>Возможна частичная оплата<br>и индивидуальные условия<br>под конкретный проект</p></div>
        </article>
        <article class="why-choose-us__item">
          <img src="images/why-choose-us-icons/Vector (1).svg" alt="">
          <div><h3>Инженерный подход</h3><p>Помогаем оптимизировать решения<br>и корректировать проектные<br>ошибки</p></div>
        </article>
      </div>
    </section>
