.fixed-callback--wrap {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 90;
  translate: 0 -50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease, visibility .25s ease, background .2s;
  padding: 20px;
  background: #024E6E;
}

.fixed-callback {
  display: grid;
  place-items: center;
  min-height: 45px;
  padding: 0 40px;
  border: 0;
  background: var(--orange);
  color: #fff;
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  /* pointer-events: none; */
}

.fixed-callback:hover {
  background: #dc5800;
}

.fixed-callback--visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media (max-width: 760px) {
  .fixed-callback {
    top: auto;
    bottom: 20px;
    right: 20px;
    translate: 0;
    min-height: 44px;
    padding: 0 20px;
    font-size: 14px;
  }
}
